/* color definitions */

:root {
  --banner-start: #7541d3;
  --banner-end: #77d4ff;
  --border-color: darkslategrey;
  --button-color: #717de6;
}

/* remove default margins from every elememt */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* styling that applies to entire body */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

/* BANNER styling start */
#banner-header {
  background-image: linear-gradient(
    to right,
    var(--banner-start),
    var(--banner-end)
  );
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

#banner {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
  margin-bottom: 20px;
}

#banner-icon {
  height: 100px;
}

#banner-text {
  font-family: "Kanit";
  color: white;
  font-size: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#banner-menu {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

#banner-menu a {
  margin: 0 16px;
  color: white;
}

/* SEARCH COLUMN styling starts here */
#search-column {
  padding-left: 10px;
  padding-right: 10px;
}
.search-type {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;

  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  border: 2px solid var(--border-color);
  padding: 10px;
}

.pure-button-primary {
  border-radius: 5px;
  background-color: var(--button-color);
}

#search-type-current {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}

#search-current-news-button {
  margin-top: 10px;
}

#search-type-keyword {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}

#search-type-keyword * {
  margin-bottom: 10px;
}

#search-keyword-input {
  padding: 5px;
  border-radius: 5px;
}

#search-type-category {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}

.search-categories {
  padding-top: 10px;
  padding-bottom: 10px;
}

.search-category-options {
  width: 100%;
  margin: 10px;
}

/* SEARCH RESULTS styling starts here */

#search-results-column {
  display: flex;
  flex-direction: column;

  margin-top: 10px;
  margin-left: 10px;

  /* 
  border-radius: 5px;
  border: 2px solid var(--border-color);
  */

  padding: 10px;
}

#waiting-for-user-action {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

#waiting-for-user-action-image {
  margin-top: 20px;
}

#waiting-for-user-action-text {
  font-family: "Kanit";
  color: var(--button-color);
  font-size: 32px;
  margin: 20px;
  text-align: center;
}

#waiting-for-news-animation-holder {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

#news-roll {
  width: 500px;
  height: 500px;
}

#waiting-for-news-text {
  font-family: "Kanit";
  color: var(--button-color);
  font-size: 32px;
  margin: 20px;
  text-align: center;
}

.news-item {
  list-style: none;
  margin-top: 5px;
  font-size: 22px;
}

.article {
  display: flex;
  align-items: center;
  height: 64px;
}
.article-image {
  height: 64px;
  width: 64px;
}
.article-api-face {
  height: 64px;
  width: 64px;
  object-fit: contain;
}

#search-returned-error {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

#earch-returned-error-image {
  margin-top: 20px;
}

#search-returned-error-text {
  width: 75%;
  font-family: "Kanit";
  color: var(--button-color);
  font-size: 32px;
  margin: 20px;
  text-align: center;
}

/* ABOUT styling starts here */
#about {
  width: 100%;
  border-radius: 5px;
  border: 2px solid var(--border-color);
}

#about-title {
  background-image: linear-gradient(
    to right,
    var(--banner-start),
    var(--banner-end)
  );
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#about-title h2 {
  color: white;
  font-size: 36px;
}

#about-content {
  padding: 10px;
}

/* PURPOSE styling starts here */
#purpose {
  width: 100%;
  border-radius: 5px;
  border: 2px solid var(--border-color);
}

#purpose-title {
  background-image: linear-gradient(
    to right,
    var(--banner-start),
    var(--banner-end)
  );
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#purpose-title h2 {
  color: white;
  font-size: 36px;
}

#purpose-content {
  padding: 10px;
}

/* FOOTER styling starts here */
#footer-row {
  width: 100%;
  padding: 10px;
  background-image: linear-gradient(
    to right,
    var(--banner-start),
    var(--banner-end),
    white
  );

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#credits {
  margin: 0 auto;
}

#powerpoint-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#credits {
  color: white;
  font-size: 18px;
  letter-spacing: normal;
  padding: 5px;
}

#credits h4,
h5 {
  padding: 2px;
}

#footer-copyright {
  color: white;
  font-size: 14px;
  padding: 5px;
}

#footer-copyright span {
  font-family: "Kanit";
  color: white;
  font-size: 14px;
}

/*Choose a category styling*/
.topnav {
  background-color: #717de6;
  overflow: hidden;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #04aa6d;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #717de6(0, 0, 0, 0.2);
  z-index: 1;
  max-height: 128px;
  overflow-y: auto;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}
.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
